@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <create-component create-customer-url="@Url.Action("Create", "Customers")" 
                      index-url="@Url.Action("Index")"></create-component>
</div>

@section Scripts {
    <script src="@Url.Content("~/bundle/Customer.js")"></script>
}
